<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="POST" th:action="@{/users/update}" th:object="${user}">
    <label for="id">ID: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <br/>
    <label for="name">Enter new name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter new age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter new email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Update">
</form>

</body>
</html>